@page {
  margin: 0;
}

body {
  margin: 0;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

* {
  transition: none !important;
}

/** Paper sizes **/
body.A3 .sheet {
  width: 297mm;
  height: 419mm;
}

body.A3.landscape .sheet {
  width: 420mm;
  height: 296mm;
}

body.A4 .sheet {
  width: 210mm;
  height: 297mm;
}

body.A4.landscape .sheet {
  width: 297mm;
  height: 209mm;
}

body.A5 .sheet {
  width: 148mm;
  height: 209mm;
}

body.A5.landscape .sheet {
  width: 210mm;
  height: 147mm;
}

body.letter .sheet {
  width: 216mm;
  height: 279mm;
}

body.letter.landscape .sheet {
  width: 280mm;
  height: 215mm;
}

body.legal .sheet {
  width: 216mm;
  height: 356mm;
}

body.legal.landscape .sheet {
  width: 357mm;
  height: 215mm;
}

/** Padding area **/
.sheet.padding-10mm {
  padding: 10mm;
}

.sheet.padding-15mm {
  padding: 15mm;
}

.sheet.padding-20mm {
  padding: 20mm;
}

.sheet.padding-25mm {
  padding: 25mm;
}

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A3.landscape {
    width: 420mm;
  }
  body.A3, body.A4.landscape {
    width: 297mm;
  }
  body.A4, body.A5.landscape {
    width: 210mm;
  }
  body.A5 {
    width: 148mm;
  }
  body.letter, body.legal {
    width: 216mm;
  }
  body.letter.landscape {
    width: 280mm;
  }
  body.legal.landscape {
    width: 357mm;
  }
}

body {
  font-family: "Quicksand";
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}

.header {
  background-color: #2f3542;
  -ms-flex-preferred-size: 13.5%;
      flex-basis: 13.5%;
  height: 100%;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.top-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-weight: 100;
  position: relative;
}

.top-header:after {
  content: "";
  position: absolute;
  background-color: #ffa502;
  height: 1px;
  width: 100%;
  display: block;
  bottom: -20px;
}

.zzz {
  padding-left: 7px;
}

.header-1 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.span-1 {
  color: #ffa502;
  font-size: 60px;
}

.span-2 {
  color: white;
}

.span-3 {
  font-size: 25px;
  color: #ffa502;
}

.bottom-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-icon {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  color: white;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
  margin-top: 20px;
}

.link-icon:nth-of-type(3) {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.link-icon i {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
}

.link-icon a {
  text-decoration: none;
  color: white;
}

.content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.footer {
  background-color: #ffa502;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.title {
  font-weight: 100;
  font-size: 16px;
  color: #ffa502;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 15px;
  border-bottom: 1px solid #ffa502;
  display: inline-block;
  font-family: "Quicksand";
  padding-left: 30px;
}

.asd {
  padding-top: 0 !important;
}

.text {
  border-bottom: 1px solid #ffa502;
  border-left: 1px solid #ffa502;
  padding: 10px;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 1.7;
}

.text p {
  margin: 0 !important;
  padding-left: 5px;
}

.text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.text ul li:before {
  content: "";
  background-color: #ffa502;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 10px;
}

.content {
  padding: 20px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.content__line-1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.content__skills {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 30px;
}

.content__line-2 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.content__row-1 {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 30px;
}

.content__row-2 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.content-row-1 {
  -ms-flex-preferred-size: 67.5%;
      flex-basis: 67.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-row-2 {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.qqq {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.qqq__2 {
  margin-top: 10px;
}

.www {
  -ms-flex-preferred-size: 26.5%;
      flex-basis: 26.5%;
}

.fff {
  padding-top: 0;
}

.eee {
  -ms-flex-preferred-size: 73.5%;
      flex-basis: 73.5%;
}

.eee ul li {
  font-weight: 100;
}

.eee ul li:before {
  content: "";
  background-color: #ffa502;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 8px;
}

.www3 {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.eee3 {
  -ms-flex-preferred-size: 77%;
      flex-basis: 77%;
}

.eee3 ul li {
  font-weight: 100;
}

.eee3 ul li:before {
  content: "";
  background-color: #ffa502;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 8px;
}

.rrr {
  font-weight: 400;
}

.ttt {
  font-weight: 700;
  display: block;
}

.ttt2 {
  font-weight: 700;
  display: block;
}

.footer {
  padding: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: white;
  text-align: center;
  font-size: 9px;
}

.footer p {
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */